<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588499290984-77dl3riobo5vkqhpp0r2ktlcmur1cjgn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588499290984-77dl3riobo5vkqhpp0r2ktlcmur1cjgn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>588499290984-3safo5v7kdmkv103o3e2pr4cmo57eqa9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBwKaJgWtthEzuS_nKpRDjPnEoySrOA8Xk</string>
	<key>GCM_SENDER_ID</key>
	<string>588499290984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.healthcareinitiative.bpTreat</string>
	<key>PROJECT_ID</key>
	<string>bp-treat-83199</string>
	<key>STORAGE_BUCKET</key>
	<string>bp-treat-83199.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588499290984:ios:a1fa8e09c39658fad0e4dd</string>
</dict>
</plist>